<h1>Hello world from index!</h1>

	<a href = "/demo/hello">Hello from the other sidee</a><br />
	<%= link_to('Hello from the other sidee2', {:controller => 'demo', :action => 'hello'}) %><br/>

	<%= link_to('Hello with parameters', {:action => 'hello', :page => 5, :id => 20 }) %>